*{
    margin:0;
    padding: 0;
}

body{
    font-family: 'Medievalsharp', cursive;
    max-width: 1300px;
}

.contiene{
    max-width: 1300px;
    max-height: 300px;
    width: 100%;
}

.cabecera{
    background-image: url("../imagenes/cabecera.jpg");
    background-repeat: no-repeat;
    background-color: black;
}

header img{
    width: 30%;
    height: 50%;
    margin-left: 55%;
    opacity: 2;
}

.contiene .cabecera a img:hover{
    width: 33%;
    height: 53%;
    transition: all .2s;
}

.contiene nav{
    display: flex;
    font-size: large;
    background-color:#000 ;
    position: sticky;
    width: 100%;
    box-shadow: 0 4px 3px rgba(0,0,0, .5);
}

nav ul{
    margin: auto;
}

nav ul li {
    margin: 3% 0;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

nav ul li a:hover{
    color: #808080;
    border-bottom: #808080 3px solid;
    transition: all .1s;
}

.articulo{
    display: flex;
    max-width: 700px;
    width: 100%;
    margin: 3% auto;
    padding: 2% 1%;
    border-bottom: groove 1px black;
    border-top: groove 1px black;
}

.articulo h1{
    justify-content: center;
    margin-top: 3%;
}

.articulo small{
    padding-left: 3%;
    color: #808080;
    float: right;
}

.seccion{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.seccion div{
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.seccion div img{
    width: 50%;
}

.seccion .jon img{
    height: 500px;
    width: 45%;
}

.seccion div h3{
    width: 50%;
    padding: 0 20px;
}

.pie{
    display: flex;
    margin-top: 2%;
    margin-left: 35%;
}

footer a{
    padding: 2% 3%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer img{
    width: 50px;
    margin: 0px 10px;
    height: 50px;
}  

.pie a img:hover{
    width: 55px;
    height: 55px;
    transition: all .2s;
}

.titulos{
    font-weight: bold;
    padding: 130px;
    text-align: center;
    background-image: url(../imagenes/letreto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Medievalsharp', cursive;
}

.gale{
    margin-left: 120px;
}

.example-image-link img{
    width: 28%;
    height: 200px;
    margin: 10px;
}

.example-image-link img:hover{
    transition: 1s;
    border-radius: 50px;
}

.personajes{
    padding: 5px;
}

.personajes .pjs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.personajes .pjs img{
    width: 35%;
    height: 250px;
}

.personajes h2{
    padding-right: 5%;
}

.qui form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.qui form div{
    margin: 30px auto;
    margin-left: 30%;
}

.qui form .enviar {
    padding: 10px;
}

.qui form .enviar:hover {
    background-color: grey;
    font-weight: bold;
    transition: .5s;
}

.qui form h2{
    display: block;
}

.qui form input{
    margin: 20px 15px 50px 5px;
}

.nos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nos div{
    width: 50%;
    margin: 50px 0;
}

.nos div h2{
    margin-bottom: 10px;
}

.galeria{
    width: 75%;
    height: 30%;
}

.titulo{
    text-align: center;
}

.foto img{
    height: 100%;
    width: 380px;
    display: inline-block;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #807060;
    width: 50%;
    border: solid black 3px;
}

.formulario form{
    padding: 50px;
}

.formulario form label, input{
    margin: 10px auto;
}

.formulario form input{
    width: 80%;
}

.formulario form .msj{
    height: 100px;
}

.formulario form .boton{
    width: 20%;
}

.personajes .pjs{
    margin-bottom: 5%;
    margin-left: 5%;
}

.personajes .pjs p{
    width: 50%;
}

.icon{
     display: none;
 }
 
            /*RESPONSIVE*/
 @media screen and (max-width:480px) {   
.icon {display: flex; width: 100%; color: white; justify-content: flex-end; margin: 5px;}
.icon:hover{color: #808080;}
nav ul {
    display: none;    
}
nav.responsive ul {
    display: block;    
}
nav.responsive ul li {
    display: block;             /*MENU HAMBURGUESA*/
    text-align: center;
    justify-content: center;
    padding: 0.5rem;
}    
nav.responsive ul li a {
    padding-right: 0;    
}
.contiene{
    max-width: 480px;       /*ARREGLAR IMAGEN CABECERA*/
    max-height: 150px;
}
header img{
    margin-left: 10%;
}
.articulo{
    max-width: 480px;
    width: 90%;
    margin: 15px auto 0;
}
.articulo h1{
    width: 100%;
    margin: auto;
}
.articulo small{
    margin-right: 5%;
}
.seccion{
    display: flex;
    flex-direction: column;
    max-width: 480px;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.seccion div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seccion div img{
    width: 90%;
    height: 85%;
    margin: auto;
}

.seccion div h3{
    width: 90%;
    
}

.pie{
    display: flex;
    margin-top: 2%;
    margin: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}
}