*{
    margin:0;
    padding: 0;
}

body{
    font-family: 'Medievalsharp', cursive;
}

.contiene{
    max-width: 1400px;
    height: 300px;
}

.cabecera{
    background-image: url("../imagenes/cabecera.jpg");
    background-repeat: no-repeat;
    background-color: black;
}

header img{
    width: 30%;
    height: 50%;
    margin-left: 55%;
    opacity: 2;
}

.contiene .cabecera a img:hover{
    width: 35%;
    height: 55%;
    transition: .5;
}

.contiene nav{
    display: flex;
    font-size: large;
    background-color:#000 ;
    top: 0;
    position: sticky;
    width: 100%;
    box-shadow: 0 4px 3px rgba(0,0,0, .5);
}

nav ul{
    margin: auto;
}

nav ul li {
    margin: 3% 0;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

nav ul li a:hover{
    color: #808080;
    border-bottom: #808080 3px solid;
    transition: all .1s;
}

.desplegable{
    display: none;      /*MENU DESPLEGABLE*/
}

.articulo{
    display: flex;
    max-width: 700px;
    width: 100%;
    margin: 3% auto;
    padding: 2% 0;
    border-bottom: groove 1px black;
    border-top: groove 1px black;
}

.articulo h1{
    justify-content: center;
    margin-top: 3%;
}

.articulo small{
    padding-left: 3%;
    color: #808080;
    float: right;
}

.seccion{
    display: flex;
    margin-left: 5%;
}

.seccion div{
    width: 50%;
    margin-top: 3%;
}

.seccion div img{
    width: 75%;
    height: 85%;
    margin: 0 5% 5% 20%;
    border-radius: 5px;
}

.seccion div h3{
    width: 60%;
    text-align: justify;
    padding-top: 8%;
}

.seccion div{
    width: 50%;
}

.seccion2{
    display: flex;
    margin-left: 5%;
}

.seccion2 div{
    width: 50%;
}

.seccion2 div img{
    border-radius: 5px;
    height: 80%;
    width: 55%;
}

.seccion2 div h3{
    margin: auto;
    width: 60%;
    padding-left: 15%;
    padding-top: 20%;
    text-align: justify;
}

.seccion3{
    width: 75%;
    margin: 0 auto;
}

.pie{
    display: flex;
    margin-top: 2%;
    margin-left: 35%;
}

footer a{
    padding: 2% 3%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer img{
    width: 50px;
    margin: 0px 10px;
    height: 50px;
}   

.titulos{
    font-weight: bold;
    padding: 130px;
    text-align: center;
    background-image: url(../imagenes/letreto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Medievalsharp', cursive;
}

.gale{
    margin-left: 120px;
}

.example-image-link img{
    width: 28%;
    height: 200px;
    margin: 10px;
}

.personajes{
    padding: 5px;
}

.personajes p{
    margin: 10px 5px;
    
}

.galeria{
    width: 75%;
    height: 30%;
}

.titulo{
    text-align: center;
}

.foto img{
    height: 100%;
    width: 380px;
    display: inline-block;
}

.formulario{
    text-align: center;
    float:inline-end ;
}

.personajes .pjs{
    margin-bottom: 5%;
    margin-left: 5%;
}

.personajes .pjs p{
    width: 50%;
}
